.float button{
  position:fixed;
  top: 100px;
  margin-left:1760px;
  background-color: aquamarine;
  z-index:100;
  color: white;
}
@media screen and (max-width:1000px) {
.float button{
  top: 60px;
  margin-left: 310px;
}
}