{%extends 'calculators/base_event.html' %}
{% load crispy_forms_tags %}
{%load static%}
{% block content %}

<!-- sub-navbar -->
<div class="sub-nav">
  <ul class="nav sub-nav-menu justify-content-center bg-dark fixed-top" style="margin-top: 90px;">
      <li>
          <button id="hamb">
              <i class="fa fa-ellipsis-v" id="subnav-icon"></i>
          </button>
      </li>
      <div id="visible">
          <li class="subnav-item">
              <a class="subnav-link" href="{% url 'BMR' %}">Basal Metabolic Rate Calculator</a>
          </li>
          <li class="subnav-item">
              <a class="subnav-link" href="{%url 'nutri'%}">Calorie & Macro Nutrients Calculator</a>
          </li>
          <li class="subnav-item">
              <a class="subnav-link" href="{%url 'Water'%}">Water Calculator</a>
          </li>
          <li class="subnav-item">
              <a class="subnav-link" href="{%url 'WHR'%}">Waist to Hip Ratio Calculator</a>
          </li>
          <li class="subnav-item">
              <a class="subnav-link" href="{%url 'BF'%}">Body Fat Calculator</a>
          </li>   
      </div>
  </ul>
</div>
<!--sub-navbar-->

  <div class="container" style="padding-top: 90px;">
    <div class="row">
      <div class="col-md-12">
        <h3 class="jumbotron text-center">Body Mass Index Calculator</h3> 

      <div class="calculator_row">
        <form role="form" method="POST" action="">
          {% csrf_token%}
          <div class="wide column">
              <div id="metric" ng-show="units == 'metric'">
    
                {{userdetailform|crispy}}
    
                <div class="form-group">
                  <label for="weight_kg">Weight (kg):</label>
                  <input type="number" id="weight" name="weight" placeholder="weight in kg" class="form-control" step="0.01">    
                </div>
                

                <div class="row" style="justify-content:space-between">
                  <div class="form-group">
                    <label for="height_cm">Height (ft):</label>
                    <input type="number" id="height_ft" name="height_ft" placeholder="Height in feet" class="form-control" step="0.01">    
                  </div>
                  <div class="form-group">
                    <label for="height_cm">Height (inches):</label>
                    <input type="number" id="height_inches" name="height_inches" placeholder="Height in inches" class="form-control" step="0.01">    
                  </div>
                </div>
    
                <button type="submit" class="btn btn-primary">Calculate</button>
                <br>
                <br>
                
              </div>
          </div>
          <div class="narrow column">
              {%if bmi %}
              <div class="jumbotron text-center">
                <h3 class="text-muted">Calculated BMI</h3>
              </div>
              <p class="breadcrumb" id="BMI_result"></p>
              <button type="submit" class="btn btn-success" name="send_email" 
              value="Send Email">Get Info<i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
              {%endif%}
          </div>
      </form>
    </div>
        <br>
        <br>
      </div>
    </div>
  </div>

  <script>
    var bmi_result=JSON.parse("{{bmi_result|escapejs}}")
    bmi=bmi_result.bmi
    if(bmi)
    {
      var showResult=document.getElementById('BMI_result')
      showResult.innerHTML="Your calculated Body Mass Index is "+bmi
    }
  </script>
{% endblock %}