{%extends 'calculators/base_event.html' %}
{% load crispy_forms_tags %}
{%load static%}
{% block content %}

<!-- sub-navbar -->
<div class="sub-nav">
  <ul class="nav sub-nav-menu justify-content-center bg-dark fixed-top" style="margin-top: 90px;">
      <li>
          <button id="hamb">
              <i class="fa fa-ellipsis-v" id="subnav-icon"></i>
          </button>
      </li>
      <div id="visible">
          <li class="subnav-item">
              <a class="subnav-link" href="{% url 'BMI' %}">Body Mass Index Calculator</a>
          </li>
          <li class="subnav-item">
              <a class="subnav-link" href="{%url 'nutri'%}">Calorie & Macro Nutrients Calculator</a>
          </li>
          <li class="subnav-item">
              <a class="subnav-link" href="{%url 'Water'%}">Water Calculator</a>
          </li>
          <li class="subnav-item">
              <a class="subnav-link" href="{%url 'WHR'%}">Waist to Hip Ratio Calculator</a>
          </li>
          <li class="subnav-item">
              <a class="subnav-link" href="{%url 'BF'%}">Body Fat Calculator</a>
          </li>   
      </div>
  </ul>
</div>
<!--sub-navbar-->

  <div class="container" style="padding-top: 90px;">
    <div class="row">
      <div class="col-md-12">
        <h3 class="jumbotron text-center">Basal Metabolic Rate Calculator</h3>


        <div class="calculator_row">
        <form role="form" method="POST" action="">
          {% csrf_token%}

            <div class="wide column">
              <div id="metric" ng-show="units == 'metric'">
    
                {{userdetailform|crispy}}

                  <div class="form-group">
                    <label for="weight">Weight (kg):</label>
                    <input type="number" id="weight" name="weight" placeholder="Weight in kg" class="form-control" step="0.01">    
                  </div>
                  
                  <div class="form-group">
                    <label for="height">Height (inches):</label>
                    <input type="number" id="height" name="height" placeholder="Height in inches" class="form-control" step="0.01">
                  </div>
  
                  <div class="form-group">
                    <label for="age">Age (years):</label>
                    <input type="number" id="age" name="age" placeholder="Age in years" class="form-control">
                  </div>
  
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="Male" value="Male">
                    <label class="form-check-label" for="Male">Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="Female" value="Female">
                    <label class="form-check-label" for="Female">Female</label>
                  </div>
                  <br>
                  <br>
                <button type="submit" class="btn btn-primary">Calculate</button>
              </div>
            </div>

            <div class="narrow column">
                {%if bmr %}
                <div class="jumbotron text-center">
                  <h3 class="text-muted">Calculated Basal Metabolic Rate</h3>
                </div>
                <p class="breadcrumb" id="BMR_result"></p>
                <button type="submit" class="btn btn-success" name="send_email"
                    value="Send Email">Get Info<i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                {%endif%}
            </div>
        </form>
        </div>

      </div>
    </div>
  </div>


  <script>
    var bmr_result=JSON.parse("{{bmr_result|escapejs}}")
    var bmr=bmr_result.bmr
    if(bmr)
    {
      var showResult=document.getElementById('BMR_result')
      showResult.innerHTML="Your Basal Metabolic Rate is "+ bmr
    }
  </script>
{% endblock %}