{%extends 'calculators/base_event.html' %}
{%load static%}
{% block content %}

  <div class="container" style="padding-top: 115px;">
    <div class="row">
      <div class="col-md-12">
        <h3 class="jumbotron text-center">Basal Metabolic Rate Calculator</h3> 
         
        <form role="form" method="POST" action=""> 
          {% csrf_token%}
          <div id="metric" ng-show="units == 'metric'">
            <div class="form-group">
              <label for="weight">Weight (kg):</label>
              <input type="number" id="weight" name="weight" placeholder="Weight in kg" class="form-control" step="0.01">    
            </div>
            
            <div class="form-group">
              <label for="height">Height (inches):</label>
              <input type="number" id="height" name="height" placeholder="Height in inches" class="form-control" step="0.01">
            </div>

            <div class="form-group">
              <label for="age">Age (years):</label>
              <input type="number" id="age" name="age" placeholder="Age in years" class="form-control">
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="Male" value="Male">
              <label class="form-check-label" for="Male">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="Female" value="Female">
              <label class="form-check-label" for="Female">Female</label>
            </div>

            <br>
            <br>
            <br>

            <button type="submit" class="btn btn-primary">Calculate</button>

          </div>
        </form>
        
        <br>
        <br>
        {%if bmr %}
        <!-- Calculated BMI is shown here -->
        <div class="jumbotron text-center">
          <h3 class="text-muted">Calculated Basal Metabolic Rate</h3>
        </div>
        <p class="breadcrumb" id="BMR_result"></p>
        {%endif%}
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>


  <script>
    var bmr_result=JSON.parse("{{bmr_result|escapejs}}")
    var bmr=bmr_result.bmr
    if(bmr)
    {
      var showResult=document.getElementById('BMR_result')
      showResult.innerHTML="Your water requirement is "+ bmr
    }
  </script>
{% endblock %}