{% extends 'calculators/base_event.html' %}
{% load static %}
{%block content%}

<link href="{% static 'css/calculator.css' %}" rel="stylesheet">


<div id="event-type-all" style="padding-top: 90px;">
    <header class="section-header">
        <h3 style="z-index: 10;" id="ae">Calculate Your Fitness</h3>
    </header>
    <div class="container">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="single-serviecs-block">
                            <i class="fa fa-superpowers"></i>
                            <h3><a href="{% url 'BMI' %}">Body Mass Index</a></h3>
                            <p>
                                Approximate measure of whether someone is over- or underweight, calculated 
                                by dividing their weight in kilograms by the square of their height in metres.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="single-serviecs-block">
                            <i class="fa fa-bolt" aria-hidden="true"></i>
                            <h3><a href="{% url 'BMR' %}">Basal Metabolic Rate</a></h3>
                            <p>Basal metabolic rate is the number of 
                                calories your body needs to accomplish its most basic (basal) 
                                life-sustaining functions.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="single-serviecs-block">
                            <i class="fa fa-heart"></i>
                            <h3><a href="{% url 'nutri' %}">Calorie & Macro Nutrients</a></h3>
                            <p>This can be used to estimate the number of calories a person n
                                eeds to consume each day to achieve his/her weight goal. </p>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="single-serviecs-block">
                            <i class="fa fa-tint"></i>
                            <h3><a href="{% url 'Water' %}">Water</a></h3>
                            <p>How much water one's body needs to run every function of the body</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="single-serviecs-block">
                            <i class="fa fa-male" aria-hidden="true"></i>
                            <h3><a href="{% url 'WHR' %}">Waist to Hip Ratio</a></h3>
                            <p>WHO states that abdominal obesity is defined as a waist–hip ratio 
                                above 0.90 for males and above 0.85 for females
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="single-serviecs-block">
                            <i class="fa fa-snowflake-o"></i>
                            <h3><a href="{% url 'BF' %}">Body Fat</a></h3>
                            <p>This explains how much fat your body is containing </p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!--/Services Area-->
</div>

</div>
{%endblock%}