{% load static %}
<link href="{% static 'css/water_form.css' %}" rel="stylesheet">


<div class="card-form">
    <form class="signup" method="POST" action="">
        {%csrf_token%}
      <div class="form-title">Sign Up for our Newsletter!</div>
      <div class="form-body">
        <div class="row">
          <input type="number" id="weight" name="weight" placeholder="Weight" step=0.01>
          <input type="number" id="time" name="time" placeholder="Time in minutes">
        </div>
        <!--<div class="row">
          <input type="email" id="email" name="email" placeholder="Email Address*">
        </div>-->
      </div>
      <div class="rule"></div>
      <div class="form-footer">
        <button type="submit" class="btn btn-success text-center">Book Appointment<i class="fa fa-paper-plane-o ml-1"></i></button>
      </div>
    </form>
  </div>