{%extends 'calculators/base_event.html' %}
{%load static%}
{% block content %}

  <div class="container" style="padding-top: 115px;">
    <div class="row">
      <div class="col-md-12">
        <h3 class="jumbotron text-center">Water Calculator</h3> 
         
        <form role="form" method="POST" action=""> 
          {% csrf_token%}
          <div id="metric" ng-show="units == 'metric'">
            <div class="form-group">
              <label for="weight_kg">Weight (kg):</label>
              <input type="number" id="weight" name="weight" placeholder="Weight in kg" class="form-control" step="0.01">    
            </div>
            
            <div class="form-group">
              <label for="height_cm">Exercise Time (min):</label>
              <input type="number" id="exercise_time" name="exercise_time" placeholder="Exercise Time in minutes" class="form-control" step="0.01">
            </div>

            <button type="submit" class="btn btn-primary">Calculate</button>

          </div>
        </form>
        
        <br>
        <br>
        {%if water %}
        <!-- Calculated BMI is shown here -->
        <div class="jumbotron text-center">
          <h3 class="text-muted">Calculated Water</h3>
        </div>
        <p class="breadcrumb" id="Water_result"></p>
        {%endif%}
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  
  <!-- Scripts -->
  <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script data-require="bootstrap@3.1.1" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script data-require="angular.js@1.2.13" data-semver="1.2.13" src="http://code.angularjs.org/1.2.13/angular.js"></script>

  <script>
    var water_result=JSON.parse("{{water_result|escapejs}}")
    var water=water_result.water
    if(water)
    {
      var showResult=document.getElementById('Water_result')
      showResult.innerHTML="Your water requirement is "+ water
    }
  </script>
{% endblock %}