{%extends 'calculators/base_event.html' %}
{%load static%}
{% block content %}

  <div class="container" style="padding-top: 115px;">
    <div class="row">
      <div class="col-md-12">
        <h3 class="jumbotron text-center">Waist to Hip Ratio Calculator</h3> 
         
        <form role="form" method="POST" action=""> 
          {% csrf_token%}
          <div id="metric" ng-show="units == 'metric'">
            <div class="form-group">
              <label for="weight_kg">Waist Measurement (cm):</label>
              <input type="number" id="waist" name="waist" placeholder="Waist Measurement" class="form-control" step="0.01">    
            </div>
            
            <div class="form-group">
              <label for="height_cm">Hip Measurement (cm):</label>
              <input type="number" id="hip" name="hip" placeholder="Hip Measurement" class="form-control" step="0.01">
            </div>

            <button type="submit" class="btn btn-primary">Calculate</button>

          </div>
        </form>
        
        <br>
        <br>
        {%if whr %}
        <!-- Calculated BMI is shown here -->
        <div class="well text-center">
          <h3 class="text-muted">Calculated Waist to Hip Ratio</h3>
        </div>
        <p id="WHR_result"></p>
        {%endif%}
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  
  <!-- Scripts -->
  <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script data-require="bootstrap@3.1.1" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script data-require="angular.js@1.2.13" data-semver="1.2.13" src="http://code.angularjs.org/1.2.13/angular.js"></script>

  <script>
    var whr_result=JSON.parse("{{whr_result|escapejs}}")
    var whr=whr_result.whr
    if(whr)
    {
      var showResult=document.getElementById('WHR_result')
      showResult.innerHTML="Your water requirement is "+ whr
    }
  </script>
{% endblock %}