{% load static %}
<link href="{% static 'css/whr_form.css' %}" rel="stylesheet">


<div class="card-form">
    <form class="signup" method="POST" action="">
        {%csrf_token%}
      <div class="form-title">Sign Up for our Newsletter!</div>
      <div class="form-body">
        <div class="row">
          <input type="number" id="waist" name="waist" placeholder="Waist Measurement" step=0.01>
          <input type="number" id="hip" name="hip" placeholder="Hip Measurement" step=0.01>
        </div>
        <!--<div class="row">
          <input type="email" id="email" name="email" placeholder="Email Address*">
        </div>-->
      </div>
      <div class="rule"></div>
      <div class="form-footer">
        <button type="submit" class="btn btn-success text-center">Find Waist to Hip ratio<i class="fa fa-paper-plane-o ml-1"></i></button>
      </div>
    </form>
  </div>